<h3>Your Pantry:</h3><br>

<% if !@pantry.ingredients.empty? %>
    <% @pantry.ingredients.each do |ingredient| %>
        <p><%= ingredient.name.titleize %></p>
    <% end %>
<% else %>
    <p>Your pantry is currently empty.</p>
<% end %>

<div class="actions">
    <%= button_to "Edit Your Pantry", edit_pantry_path(@pantry), :method=>:get %><br />
</div>

<h4>Based on your pantry, you can make these recipes:</h4><br>

